/************************************************************************
*   
*   G L O B A L  C S S
*   
*   Author:  Blink Creative
*   Date:    19 September 2012
*   Web:     http://www.blinkcreative.com.au
*   Email:   breon@blinkcreative.com.au
*   Version: 1.0
* 
*************************************************************************/


/*-----------------------------------------------------------------------
Reset
------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,input, textarea, button 
{
    background:transparent;
    border:0;
    font-size:100%;
	list-style:none;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary 
{ 
    display:block;
}

nav ul 
{
    list-style:none;
}

blockquote, q 
{
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after 
{
    content:'';
    content:none;
}

a 
{
    background:transparent;
    border:0;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

ins 
{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark 
{
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del 
{
    text-decoration: line-through;
}

abbr[title], dfn[title] 
{
    border-bottom:1px dotted #000;
    cursor:help;
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

hr 
{
    border:0;   
    border-top:1px solid #cccccc;
    display:block;
    height:1px;
    margin:1em 0;
    padding:0;
}

input, select 
{
    vertical-align:middle;
}

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

body
{
	font-family:MS Sans Serif,Geneva,sans-serif;	
}

.float-left
{
	float:left;
}

.float-right
{
	float:right;	
}

.clear
{
	clear:both;	
}

.hidden
{
	display:none;	
}

/*-----------------------------------------------------------------------
Global
------------------------------------------------------------------------*/

body
{
	background:#000000;	
}

/*--Header--*/

#frame-header
{
	margin:30px 0 15px 0;
	height:80px;
	position:relative;
}

#site-logo
{
	height:80px;
	position:relative;
}

#site-logo a
{
	display:block;
	margin:23px 0 10px;	
}

/*--Navigation--*/



#gallery-navigation span
{
	font-family: 'Dosis', sans-serif;
	color:#ffffff;	
	font-size:28px;
	line-height:28px;
}

.breadcrumbs
{
	font-size:10px;
	text-transform:uppercase;
	color:#ffffff;
}

.breadcrumbs a
{
	font-size:10px;
	text-transform:uppercase;
	color:#ffffff;
}

.navigation-main li > a
{
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	font-size:15px;
	padding:0;
	margin:8px 69px 15px 0;
	padding:3px 0 4px;
	letter-spacing:0.8px;
	font-family: 'Dosis', sans-serif;
	font-weight:600;
	text-transform:uppercase;
}

.navigation-main li.active a
{
	background:none;
	border-bottom:1px solid #ffffff;
}

.navigation-main li > a:hover,
.navigation-main li > a:focus
{
	padding:3px 0 2px;
	background:none;
	color:#ffffff;
	border-bottom:1px solid #ffffff;
}

#frame-navigation .by-line h1
{
	color:#ffffff;
	font-size:12px;
	margin:0 0 16px;
	padding:0;
	letter-spacing:1.2px;
	font-family: 'Dosis', sans-serif;
	font-weight:600;
	text-transform:uppercase;
	line-height:11px;
}

/*--Block row--*/

.blocks .row .row
{
	margin-bottom:14px;	
}

.blocks .text-block .inner-block
{
	display:block;
	border:2px solid #ffffff;
	padding:25px 20px;	
}

.blocks .text-block .inner-block:hover
{
	text-decoration:none;	
}

.blocks .text-block h2,
.blocks .image-block h2
{
	color:#ffffff;
	line-height:27px;
	font-size:30px;
	margin:0;
	padding:0;	
	text-transform:uppercase;
	letter-spacing:2px;
	font-family: 'Dosis', sans-serif;
	font-weight:500;
}

.blocks .text-block h3,
.blocks .image-block h3
{
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.9px;
    line-height: 19px;
    margin: 10px 0;
    text-transform: uppercase;
    width: 93%;
}

.blocks .text-block p,
.blocks .image-block p
{
    color: #ffffff;
    font-size: 13px;
    line-height: 17px;
    padding: 7px 0 0;
}


.blocks .text-block a.read-more
{
	color:#ffffff;	
	font-size:30px;
	line-height:24px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-family: 'Dosis', sans-serif;
	font-weight:500;
}

.blocks .text-block.small a
{
	display:block;
	margin:6px 0 0;
	font-size:15px;
}

.blocks .text-block.small p
{
	padding:0;	
}

.blocks .text-block .larger-padding
{
	margin:15px 0 8px;	
}

.blocks .text-block a:hover
{
	text-decoration:underline;	
}

.blocks .text-block.large .inner-block
{
	height:356px;
	position:relative;
	padding:20px;	
}

.blocks .text-block.large .inner-block a
{
	font-size:28px;
	line-height:30px;
	position:absolute;
	bottom:20px;
	left:20px;	
}

.blocks .image-block .inset
{
	background:#000000;
	position:absolute;
	z-index:2;
	padding:20px;
}

.blocks .image-block.tall .inset
{
	bottom:14px;
	left:20px;	
	width:420px;
	height:139px;
}

.blocks .image-block.large-wide .inset
{
    bottom: 14px;
    height: 139px;
    right: 21px;
    width: 409px;
}

.blocks .image-block.wide .inset
{
	bottom:14px;
	left:20px;	
	width:194px;
	height:139px;
}

.blocks .image-block.wide .inset h3
{
	margin-top:0;	
}

.blocks .image-block .inset p,
.blocks .image-block.large-wide .inset p
{
	padding:0;	
}

#news-rotator .image-block
{
	height:171px;
	overflow:hidden;	
}

#news-rotator .image-block a
{
	left:7px !important;	
}

#news-rotator .text-block .inner-block
{
	height:171px;	
}

#news-pagination
{
	margin:20px 0;	
}

#news-pagination a
{
	background:#444444;
	margin:7px 7px 0 0;
	display:block;
	text-indent:-9999px;
	float:left;
	width:7px;
	height:7px;	
}

#news-pagination a.activeSlide
{
	background:#ffffff;
}

#news-pagination a:focus
{
	outline:none;	
}

#blog-navigation span
{
	font-family: 'Dosis', sans-serif;
	color:#ffffff;	
	font-size:28px;
	line-height:28px;
	margin:0 0 20px;	
	display:block;
}

#blog-navigation span a
{
	font-size:22px;	
}

/*--Footer--*/

#frame-footer
{
	margin:0 0 20px;	
}

#frame-footer .rounded-divider
{
	margin:0px !important;	
}

#frame-footer ul
{
	margin:0px !important;	
}

#frame-footer p
{
	color:#ffffff;
	font-size:9px !important;
	text-transform:uppercase;
	padding:5px 0 0 !important;
	margin:0 0 5px !important;
}


#frame-footer li
{
    float: right;
    font-size: 9px !important;
    line-height: 13px !important;
    margin: 2px 0 5px 6px !important;
    padding: 5px 0 0 !important;
    text-transform: uppercase;
}

#frame-footer li:last-child
{
	margin-left:0 !important;	
}

#frame-footer li a
{
	color:#ffffff;	
}

#frame-footer li a:hover
{
	text-decoration:underline;	
}

/*--Misc--*/

.rounded-divider
{
	-webkit-border-radius: 555px;
	-moz-border-radius: 555px;
	border-radius: 555px;
	background:#ffffff;
	height:2px;
}

.rounded-divider.small
{
	height:1px;
}

.rounded-divider.tiny
{
	height:2px;
	width:10px;
	margin:11px 0 13px;
}


/*-----------------------------------------------------------------------
Homepage
------------------------------------------------------------------------*/

.subscribe-box
{
	border:2px solid #ffffff;
	margin:15px 0 0;
	padding:20px;
}

.subscribe-box legend
{
	float:left;
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 34px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.subscribe-box input
{
	border:2px solid #ffffff;	
	float:left;
	padding:5px;
    color: #ffffff;
	font-size:14px;
    font-family: 'Dosis',sans-serif;
	margin:0 0 5px 0;
    text-transform: uppercase;
	width:100%;
}

.subscribe-box button
{
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    font-family: 'Dosis',sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 8px 6px;
    text-transform: uppercase;	
}

.subscribe-box button:hover
{
	border:1px solid #ffffff;
    padding: 6px 7px 5px;
	color:#ffffff;
	background:#000000;		
}

.margin-block
{
	margin:0 0 14px;	
}

/*-----------------------------------------------------------------------
Subpage
------------------------------------------------------------------------*/

#frame-content
{
	margin:0 0 20px;	
}


#frame-content.subpage h1
{
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#frame-content.subpage h2
{
	color:#ffffff;
	font-family: 'Dosis', sans-serif;
	font-size:30px;
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
	margin:0 0 20px;
}

#frame-content.subpage h3
{
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
}

#frame-content.subpage h4
{
	color:#ffffff;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:13px;
	margin:0 0 5px ;
}

#frame-content.subpage p
{
	color:#ffffff;
	font-size:13px;
	line-height:17px;
	padding:7px 0 0;
}

#frame-content.subpage ul li
{
	color:#ffffff;
	font-size:13px;
	line-height:18px;
}

#frame-content.subpage ul li:before 
{
    content: "+";
    margin-right: 4px;
}

#frame-content.subpage blockquote
{
	color:#ffffff;
	font-family: 'Dosis', sans-serif;
	font-size:13px;
	line-height:17px;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
}

#frame-content.subpage cite
{
    color: #ffffff;
    display: block;
    font-size: 13px;
    line-height: 24px;
    margin: 3px 0 0;
}

#frame-content.subpage cite span
{
	display:block;
	line-height:10px;
}

#frame-content.subpage .rounded-divider
{
	margin:15px 0;	
}

/*-----------------------------------------------------------------------
About Us
------------------------------------------------------------------------*/

#frame-content.subpage .about-aside p:first-child
{
	padding:0;
}

#frame-content.subpage .about-aside.col-md-8
{
	margin:20px 0 0;	
}

#frame-content.subpage .about-profile-image blockquote
{
	margin:15px 0 0;	
}

#frame-content.subpage .client-list .row .border
{
	text-align:center;
	height:70px;
	line-height:90px;
}

#frame-content.subpage .client-list .col-lg-3,
#frame-content.subpage .client-list .col-md-3,
#frame-content.subpage .client-list .col-sm-3
{
	width:33.3%;	
}

#frame-content.subpage .client-list .row:not(:last-child) .col-lg-3,
#frame-content.subpage .client-list .row:not(:last-child) .col-md-3,
#frame-content.subpage .client-list .row:not(:last-child) .col-sm-3
{
	border-bottom:1px solid #ffffff;	
	height:90px;
	margin-bottom:20px;
}

#frame-content.subpage .client-list .row div:first-child .border
{
	border-right:1px solid #ffffff;	
}

#frame-content.subpage .client-list .row div:last-child .border
{
	border-left:1px solid #ffffff;	
}

#frame-content .rounded-divider.tiny-thin
{
	height:1px;
	width:7px;
	margin:8px 0 8px;
}


/*-----------------------------------------------------------------------
Gallery Overview
------------------------------------------------------------------------*/

#frame-content #breadcrumbs li
{
	display:inline;	
}

#frame-content #gallery-categories
{
	margin:20px 0 0;	
}

#frame-content #gallery-categories li	
{
	cursor:pointer;
	font-size:13px;
	text-transform:uppercase;
	font-family: 'Dosis', sans-serif;
	letter-spacing:1px;
	line-height:15px;
	margin:0 0 5px;
}

#frame-content #gallery-categories li:hover,
#frame-content #gallery-categories li.active
{
	text-decoration:underline;	
}


.gallery-list:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
}

.gallery-list > li
{
	border-bottom:1px solid #ffffff;
	float:left;
	margin:0 14px 14px 0;
	padding:0 0 8px;
	width:216px;
	position:relative;
	overflow:hidden;
	min-height:1px;
}

.gallery-list > li:nth-child(4n)
{
	margin:0 14px 0 0;	
}

.gallery-list > li:nth-child(4n+1)
{
	clear:both;	
}

.gallery-list > li h3
{
	margin:10px 0 0;	
}

#gallery-pagination
{
	float:right;	
}

#gallery-image img
{
	margin:0 0 10px;	
}

#gallery-pagination li:before,
.gallery-list li:before,
#gallery-categories li:before
{
    content:none !important;	
}

.gallery-list li:nth-child(4n)
{
	margin:0 0 13px 0;
}


.gallery-list li a
{
	font-family: 'Dosis', sans-serif;
	letter-spacing:1px;
	text-transform:uppercase;
}

/*-----------------------------------------------------------------------
Gallery Project
------------------------------------------------------------------------*/

#frame-content.subpage.gallery-project h2
{
	margin:10px 0;
}

#frame-content.subpage.gallery-project h3
{
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:1px;
	font-weight:500;
}

#frame-content.subpage.gallery-project ul.with-title
{
	margin-top:0;	
}

#frame-content.subpage.gallery-project .rounded-divider.small
{
	margin:5px 0;	
}

#frame-content.subpage.gallery-project ul
{
	margin:10px 0;	
}

#frame-content.subpage.gallery-project p
{
	padding:0 0 10px;
}

#frame-content.subpage.gallery-project .rounded-divider.small.larger-bottom
{
	margin:5px 0 10px;	
}

.project-logo
{
	margin:30px 0 0;	
}

#frame-content.subpage.gallery-project ul#gallery-pagination
{
	padding:0;
	margin:0;	
}

#share span
{
	display:block;
	float:left;
	margin:0 5px 0 0;
}

#share a
{
	padding:4px 0;	
	display:block;
	float:left;
}

/*-----------------------------------------------------------------------
News
------------------------------------------------------------------------*/

#frame-content.subpage.news h1
{
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

#frame-content.subpage.news .news-blocks .tiny-thin
{
	margin:5px 0 0;
}

#frame-content.subpage.news h2,
#frame-content.subpage.news .news-blocks h2 a
{
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
    font-size: 19px;
    font-weight: 600;
	margin:0;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
}

#frame-content.subpage.news h3
{
    color: #ffffff;
    font-family: 'Dosis',sans-serif;
    font-size: 12px;
    font-weight: 600;
	margin:0;
    letter-spacing: 1px;
    line-height: 18px;
}

#frame-content.subpage.news .news-blocks a.link
{
	display:block;
    font-family: 'Dosis',sans-serif;
    letter-spacing: 1px;
	margin:10px 0 0;
	font-size:13px;
	line-height:18px;
    text-transform: uppercase;
}

#frame-content.subpage.news .news-inner
{
	margin:10px 0 0;
	min-height:149px;	
}

#frame-content.subpage.news .news-inner.video
{
	margin:4px 0 0;
}

/*-----------------------------------------------------------------------
Contact
------------------------------------------------------------------------*/

#frame-content.subpage.contact input
{
	display:block;
	border:1px solid #ffffff;
	background:#000000;	
	padding:8px;
	color:#ffffff;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:1px;
	margin:0 15px 10px 0;
	width:216px;
}

#frame-content.subpage.contact select :: -ms-expand 
{
	display: none;
}
#frame-content.subpage.contact select
{
   	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border:1px solid #ffffff;
	display:block;	
	margin:0 15px 10px 0;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:1px;
	padding:8px;
	width:216px;
}

#frame-content.subpage.contact .checkbox-container input
{
	background:#000000;
	color:#ffffff;
	height:15px;
	float:left;
	width:15px;
	margin:6px 6px 0 0;
}

.frm_error
{
	color:#ffffff;
	font-size:10px;
	text-transform:uppercase;	
}

.frm_error_style
{
	display:none;	
}

#frame-content.subpage.contact .checkbox-container label
{
	font-size:11px;
	color:#ffffff;
	line-height:23px;
	margin:1px 0 0;
}

#frame-content.subpage.contact textarea
{
	resize:none;
	display:block;
	border:1px solid #ffffff;
	background:#000000;	
	padding:8px;
	color:#ffffff;
	height:122px;
	font-size:11px;
	margin:0 0 10px 0;
	letter-spacing:1px;
	width:447px;
}

#frame-content.subpage.contact #contact-details
{
	height:366px;
	position:relative;
}

#frame-content.subpage.contact .header-block
{
	height:219px;
	position:relative;	
}

#frame-content.subpage.contact button
{
   background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    font-family: 'Dosis',sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px 6px;
    text-transform: uppercase;
}

#frame-content.subpage.contact button:hover
{
	border:1px solid #ffffff;
    padding: 4px 9px 5px;
	color:#ffffff;
	background:#000000;	
}

#frame-content.subpage #contact-details .rounded-divider,
#frame-content.subpage .header-block .rounded-divider
{
	position:absolute;
	bottom:0;
	width:92%;
	margin:0;
}

#project-map
{
	height:500px;
	padding:0 !important;	
}


#map
{
	height:350px;
	padding:0 !important;
}

/*-----------------------------------------------------------------------
Blog
------------------------------------------------------------------------*/

.date
{
	color:#ffffff;	
}

#frame-content.subpage.blog-single h2
{
	margin:15px 0 0;
}

#frame-content.subpage.blog-single h3
{
	margin:0 0 10px;
}

#frame-content.subpage.blog-single blockquote
{
	border-top:2px solid #ffffff;
	padding:10px 0 20px;
}

/*-----------------------------------------------------------------------
Contract
------------------------------------------------------------------------*/

#logo-image{
	text-align: center;
}

#logo-image img{
	display: inline-block;
	max-width: 100%;
	padding: 7% 0;
}

#download-btn{
	text-align: center;
}

#download-btn a{
  font-family: 'Dosis', sans-serif;
  background-color: #000;
  text-transform: uppercase;
  padding: 0.85em;
  font-size: 1.3em;
  border: 2px solid #fff;
  display: inline-block;
  width: 35%;
  height: 70px;
  min-width: 260px;
  margin-bottom: 3em;
  text-decoration: none;
  -webkit-transition: background-color 250ms; /* Safari */
  transition: background-color 250ms;
}

#download-btn a:hover{
   background-color:#fff;
   color:#000;
}

/*-----------------------------------------------------------------------
Media Queries
------------------------------------------------------------------------*/

@media (max-width:1199px)
{
	
	.gallery-list > li:nth-child(4n)
	{
		margin:0 14px 14px 0;
	}
		
	.gallery-list > li:nth-child(4n+1)
	{
		clear:none;	
	}
	
	#frame-footer ul
	{
		float:left;
	}
	
	#frame-footer li
	{
		margin:0 10px 3px 0;
		padding:3px 0 0;	
	}
	
	#frame-footer .col-lg-2 p
	{
		margin:7px 0 10px;
	}
	
	#frame-footer .col-md-10
	{
		margin-bottom:0;
	}
	
	#news-rotator .text-block .inner-block
	{
		height:150px;
	}
	
	.blocks .text-block .inner-block
	{
		padding:20px;	
	}
	
	.blocks .image-block.tall .inset
	{
		width:340px;	
	}
	
	.blocks .text-block.large .inner-block
	{
		height:277px;
	}
	
	.blocks .image-block.wide .inset 
	{
		bottom: 5px;
		height: 129px;
		left: 12px;
		width: 193px;
	}	
	
	.blocks .image-block.large-wide .inset
	{
		width: 333px;
	}
	
	.checkbox-container
	{
		margin:0 0 20px;	
	}
	
	#frame-content.subpage.contact .header-block
	{
		height:350px;	
	}
	
	.news-video iframe
	{
		height:202px !important;	
	}
	
	.blocks .text-block h2, .blocks .image-block h2
	{
		font-size:26px;	
	}
	
}

@media (max-width:991px){
	
	.navigation-main li > a
	{
		margin:5px 50px 18px 0;
	}
	
	.blocks .text-block h2
	{
		font-size:22px;
	}
	
	.blocks .text-block a
	{
		font-size:22px;
		line-height:20px;
	}
	
	.blocks .text-block p,
	.blocks .image-block p
	{
		font-size: 12px;
		line-height: 16px;
	}
	
	.blocks .text-block div.inner-block
	{
		padding:15px;	
	}
	
	.rounded-divider.tiny
	{
		height:2px;
		width:10px;
		margin:5px 0 7px;
	}
	
	.blocks .text-block.large .inner-block
	{
		height:224px;	
	}
		
	.blocks .image-block.tall .inset
	{
		width:253px;	
	}
	
	.blocks .text-block h2, 
	.blocks .image-block h2 {
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 0.9px;
		line-height: 19px;
		margin: 0 0 10px;
		width: 93%;
	}	
	
	.blocks .image-block.wide .inset {
		bottom: 5px;
		height: 95px;
		left: 12px;
		width: 143px;
		padding:15px;
	}	
	
	.blocks .text-block.large .inner-block
	{
		padding:15px;
	}
	
	#news-pagination
	{
		margin:5px 0 0;	
	}
	
	.blocks .text-block h3, 
	.blocks .image-block h3
	{
		margin:0;
		width:100%;	
	}
	
	#news-rotator .text-block .inner-block
	{
		height:126px;	
	}
	
	.blocks .text-block.large .inner-block
	{
		height:192px;	
	}
	
	#frame-content.subpage.news .news-inner
	{
		min-height:1px;	
	}
	
	.news-video iframe
	{
		height:400px !important;	
	}
	
	#frame-content.subpage.news .tablet-phone-image
	{
		display:block;
		width:100%;
		text-align:center;	
	}
	
	#frame-content.subpage.news .tablet-phone-image img
	{
		display:inline;
	}
	
	.subscribe-box legend
	{
		margin:10px 0 0;
		font-size:20px;
		line-height:24px;	
	}
}

@media (max-width:765px)
{	

	#frame-header,
	#frame-navigation
	{
		margin:0 0 15px;
	}
	
	#site-logo a,
	.by-line
	{
		text-align: center;
	}
	
	.navigation-main li
	{
		width:100%;
		text-align:center;
		margin:20px 0;
		font-size:15px;
	}
	
	.navigation-main li > a
	{
		margin:0 4% !important;
		text-decoration:none;
	}
	
	#frame-content .blocks .image-block,
	#frame-content .blocks .text-block
	{
		margin:0 auto 20px;
	}
	
	.blocks .text-block.small .inner-block
	{
		text-align:center;
		padding:20px;
	}
	
	.blocks .text-block.large .inner-block
	{
		height:auto;
	}

	.blocks .text-block h2, 
	.blocks .image-block h2 {
		line-height:27px;
		font-size:30px;
		font-weight: 500;
		letter-spacing:2px;
		margin:0;
		padding:0;	
		width: 93%;
	}	
	
	.blocks .image-block .inset
	{
		bottom: 14px !important;
		left: 20px !important;
		width:320px !important;	
	}
	
	.rounded-divider.tiny
	{
		height:2px;
		width:10px;
		margin:8px 0 7px;
	}
	
	#frame-content.subpage.contact input,
	#frame-content.subpage.contact select,
	#frame-content.subpage.contact textarea
	{
		width:100%;
	}
	
	#frame-content.subpage.contact button 
	{
		background: none repeat scroll 0 0 #ffffff;
		color: #000000;
		font-size: 14px;
		padding: 15px 28px;
		text-transform: uppercase;
	}
	
	#frame-content.subpage.contact button:hover
	{
		padding: 14px 27px;
	}
	
	.subscribe-box
	{
		margin:0;	
	}
	
	.subscribe-box legend
	{
		margin:0 0 10px;
		font-size:24px;
		line-height:34px;
	}
	
	.subscribe-box button
	{
		margin:3px 0 0;
		width:100%;	
	}
	

}


@media (max-width:468px)
{	
	.blocks .image-block .inset
	{
		height: auto !important;
		width:88% !important;
	}	


	.blocks .image-block .inset h2
	{
		font-size:24px;
	}

	#frame-content.subpage ul li
	{
		text-align: center;
		width:100%;
	}


	#frame-content.subpage ul li .rounded-divider
	{
		margin:10px auto !important
	}

}

